<html><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}</style>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<link href="css/base.css?_v=20240918" rel="stylesheet" type="text/css">
	<link href="css/index.css?_v=20240918" rel="stylesheet" type="text/css">
	<link href="css/inner.css?_v=20240918" rel="stylesheet" type="text/css">
	<link href="css/amazeui.datetimepicker.css?_v=20240918" rel="stylesheet" type="text/css">
	<link href="css/font-awesome.min.css?_v=20240918" rel="stylesheet" type="text/css">
	<link href="css/message.css?_v=20240918" rel="stylesheet" type="text/css">
	<script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/jquery.easing-1.3.js"></script>
	<!--[if lt IE 9]>
		<script src="js/html5.js" type="text/javascript"></script>
		<script src="js/response.min.js"></script>
	<![endif]-->
	<script src="js/qrcode.js"></script>
	<script src="js/exif.js"></script>
	<script src="js/echarts.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/angular-route.min.js"></script>
	<script src="js/amazeui.datetimepicker.js" type="text/javascript"></script>
	<script src="js/echarts.min.js"></script>
	<script src="js/message.js"></script>
    <script src="application.js?_v=20240918" type="text/javascript"></script>
	<script src="router.js?_v=20240918"></script>
 	
    <script src="app/direct/headerDirect.js?_v=20240918" type="text/javascript"></script>
    <script src="app/direct/footerDirect.js?_v=20240918" type="text/javascript"></script>
    <script src="app/direct/gotoTopDirect.js?_v=20240918" type="text/javascript"></script>
    <script src="app/direct/introTitImgDirect.js?_v=20240918" type="text/javascript"></script>
    <script src="app/direct/tableCellDirect.js?_v=20240918" type="text/javascript"></script>
    <script src="app/direct/goBackDirect.js?_v=20240918" type="text/javascript"></script>
    
    <script src="app/direct/datetimepickerDirect.js?_v=20240918" type="text/javascript"></script>
    
    <script src="app/controller/life/LifeIndexController.js?_v=20240918" type="text/javascript"></script>
    <script src="app/controller/canteen/CanteenController.js?_v=20240918" type="text/javascript"></script>
    <script src="app/controller/freeClassroom/FreeClassroomController.js?_v=20240918" type="text/javascript"></script>
    <script src="app/controller/cadreContact/CadreContactController.js?_v=20240918" type="text/javascript"></script>
    <script src="app/controller/courseIntro/CourseIntroController.js?_v=20240918" type="text/javascript"></script>
    <script src="app/controller/courseSchedule/CourseScheduleController.js?_v=20240918" type="text/javascript"></script>
    <script src="app/controller/tutorQuery/TutorQueryController.js?_v=20240918" type="text/javascript"></script>
    <script src="app/controller/myScore/MyScoreController.js?_v=20240918" type="text/javascript"></script>
    <script src="app/controller/myCourseTable/MyCourseTableController.js?_v=20240918" type="text/javascript"></script>
    <script src="app/controller/myFileTrans/MyFileTransController.js?_v=20240918" type="text/javascript"></script>
    
   	<script src="app/controller/personQuery/PersonQueryController.js?_v=20240918" type="text/javascript"></script>
    <script src="app/controller/personQuery/PersonDetailController.js?_v=20240918" type="text/javascript"></script>
    
    <script src="app/controller/mobileIdentify/MobileIdentifyController.js?_v=20240918" type="text/javascript"></script>
    <script src="app/controller/faceIdentify/FaceIdentifyController.js?_v=20240918" type="text/javascript"></script>
    
    <script src="app/controller/certificatePhoto/CertificatePhotoController.js?_v=20240918" type="text/javascript"></script>
    
    <script src="app/controller/heds/HedsSvcQueryController.js?_v=20240918" type="text/javascript"></script>
    
    <script src="app/controller/income/IncomeController.js?_v=20240918" type="text/javascript"></script>
    
    <script src="app/controller/abroadBiz/AbroadBizController.js?_v=20251113" type="text/javascript"></script>
    <script src="app/controller/abroadBiz/PassportEditController.js?_v=20251113" type="text/javascript"></script>
    
    <script src="direct.js?_v=20240918" type="text/javascript"></script>
    <script src="MainCtrl.js?_v=20240918" type="text/javascript"></script>
	<title>北京大学校内信息门户</title>
	
</head>
<body class="ng-app:dc ng-scope" ng-app="dc" ng-controller="mainController" id="ng-app">
	<div headertpl=""><header ng-show="accessFromApp!=='是'" class="header">
	<section>
		<div class="topLine"></div>  
		<!-- ngIf: loginFlag --><section ng-if="loginFlag" class="subNav ng-scope">
			<section class="ssubNav">
	        	<ul class="subNavLeft">
	            	<li><a href="javascript:logout()" class="ng-binding">李张鑫 [退出]</a></li>
	            </ul>
				<ul class="subNavRight" id="subNavRight1"></ul>
	        </section>
			<section class="mainWrap mainWrap02 noline">
	        	<ul class="subNavLeft">
	            	<li><a href="javascript:logout()" style="padding-left:0px;" class="ng-binding">李张鑫 [退出]</a></li>
	            </ul>
			</section>
			<section class="clearfix"></section>
		</section><!-- end ngIf: loginFlag -->
		<section class="topWrap clearfix" style="background-image: url(&quot;https://portal.pku.edu.cn/portal2017/img/img_xnmh8.gif&quot;);">
			<section class="mainWrap">
	        	<span class="logo">
	            	<a href="http://www.pku.edu.cn/" title="北京大学"><img src="img/pkulogo_white.png"></a>
	                <a class="sub_logo" href="https://portal.pku.edu.cn" title="北京大学校内信息门户">北京大学校内信息门户</a>  
	            </span>
	        </section>
		</section>
	</section>
</header>
<script type="text/javascript">
	function logout(){
		window.location.href="/publicQuery/logout.do";
	};
	$(function(){
		$(".header .nav #nav> li").hover(function(){
			$(this).children("ul").slideDown(200);
		},function(){
			$(this).children("ul").slideUp(200);
		});
		$(".header .nav .sub-nav> li").click(function(){
			if($(this).children("ul").length>0 ){
				if($(this).children("ul").is(":visible"))
					$(this).children("ul").slideUp(200);
				else
					$(this).children("ul").slideDown(200);
				}
			});
			$(".header .logo a:first-child").hover(function(){
				$(this).children("img").attr("src","img/pkulogo_grey.png");
			},function(){
				$(this).children("img").attr("src","img/pkulogo_white.png");
			});
			var win_width = $(window).width();
			if (win_width > 640){
				var idx = Math.ceil(Math.random()*16);
				$(".header .topWrap").css("background-image","url(https://portal.pku.edu.cn/portal2017/img/img_xnmh"+idx+".gif)");
			}
			$(window).resize(function() {
				var win_width = $(window).width();
				if (win_width >= 800){
					$("#mobileNav").slideUp(0);
				}
				else if(win_width <= 640){
					$(".header .topWrap").css("background-image","");
				}
			});
		});
</script></div>
	<!-- ngView:  --><div style="min-height:556px;" ng-view="" class="ng-scope"><div class="main-body ng-scope">
	<div class="content">
    	<div class="col_lg_10 top"></div>
      	<div class="col_lg_10 col_md_10">
        	<div class="mainContent">
          		<div class="introTit clearfix">
            		<div class="introTitImg" ng-init="load()" introtitimgtpl="" style="background-image: url(&quot;img/img_small1.jpg&quot;);"></div>
            		<h2>我的课表</h2>
            		<div ng-show="accessFromApp !=='是'" goback="" class="">
	<a class="h-btn" style="color:#8f000b;font-size:18px; float:right;" href="javascript:history.back();">&lt; 返回</a>
</div>
            	</div>
            	<div class="article">
            		<div class="col_i_33">
	          			<div class="row-cell">
	          				<select class="cell-sel ng-pristine ng-valid" ng-model="xndXq" ng-options="a.xndxq as a.xndxqValue for a in xndXqList" ng-change="getCourseInfo()"><option value="0" selected="selected">25-26学年1学期</option><option value="1">25-26学年2学期</option><option value="2">25-26学年3学期</option><option value="3">24-25学年1学期</option><option value="4">24-25学年2学期</option><option value="5">24-25学年3学期</option><option value="6">23-24学年1学期</option><option value="7">23-24学年2学期</option><option value="8">23-24学年3学期</option><option value="9">22-23学年1学期</option><option value="10">22-23学年2学期</option><option value="11">22-23学年3学期</option><option value="12">21-22学年1学期</option><option value="13">21-22学年2学期</option><option value="14">21-22学年3学期</option><option value="15">20-21学年1学期</option><option value="16">20-21学年2学期</option><option value="17">20-21学年3学期</option><option value="18">19-20学年1学期</option><option value="19">19-20学年2学期</option><option value="20">19-20学年3学期</option></select>
	           			</div>
           			</div>
           			<div class="col_i_10">
           				<p><br></p>
           			</div>
           			<div class="col_i_10">
		            	<table ng-show="errorMsg!==''" class="no-border-table black ng-hide" style="font-size:16px;">
	              			<tbody><tr><td width="80" class="center"><i class="fa fa-3x fa-info-circle pku-green"></i></td><td><span style="font-size:18px;" class="ng-binding"></span></td></tr>
	            		</tbody></table>
	            		<div ng-show="errorMsg==''" class="">
							<div style="line-height:16px;"><span style="font-size:12px;" id="remarks"></span></div>
							<p><br></p>
	            			<div style="overflow-x:scroll;overflow-y:hidden;">
				            	<table class="border-table" width="1430">
									<tbody>
										<tr>
											<td style="background-color:#f0f0f0;width:30px;" align="center"></td>
											<td style="background-color:#f0f0f0;min-width:230px;" align="center">一</td>
											<td style="background-color:#f0f0f0;min-width:230px;" align="center">二</td>
											<td style="background-color:#f0f0f0;min-width:230px;" align="center">三</td>
											<td style="background-color:#f0f0f0;min-width:230px;" align="center">四</td>
											<td style="background-color:#f0f0f0;min-width:230px;" align="center">五</td>
											<td style="background-color:#f0f0f0;min-width:230px;" align="center">六</td>
											<td style="background-color:#f0f0f0;min-width:230px;" align="center">日</td>
										</tr>
										<tr>
											<td style="background-color:#f0f0f0;" align="center">1</td>
											<td class="td-compact" id="mon1" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="tue1" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="wed1" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="thu1" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="fri1" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="sat1" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="sun1" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
										</tr>
										<tr>
											<td style="background-color:#f0f0f0;" align="center">2</td>
											<td class="td-compact" id="mon2" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="tue2" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="wed2" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="thu2" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="fri2" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="sat2" valign="top" style="background-color: lightslategray;"><div style="line-height:16px;"><span style="font-size:12px;">投资学(辅双)<br>上课信息：1-16周 每周 二教203  教师：徐建国 <br>考试信息：20260103 星期六 上午 </span></div></td>
											<td class="td-compact" id="sun2" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
										</tr>
										<tr>
											<td style="background-color:#f0f0f0;" align="center">3</td>
											<td class="td-compact" id="mon3" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="tue3" valign="top" style="background-color: lightgrey;"><div style="line-height:16px;"><span style="font-size:12px;">软件工程(主)<br>上课信息：1-16周 每周 二教406  教师：孙艳春 <br>考试信息：20251230 星期二 上午 </span></div></td>
											<td class="td-compact" id="wed3" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="thu3" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="fri3" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="sat3" valign="top" style="background-color: lightslategray;"><div style="line-height:16px;"><span style="font-size:12px;">投资学(辅双)<br>上课信息：1-16周 每周 二教203  教师：徐建国 <br>考试信息：20260103 星期六 上午 </span></div></td>
											<td class="td-compact" id="sun3" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
										</tr>
										<tr>
											<td style="background-color:#f0f0f0;" align="center">4</td>
											<td class="td-compact" id="mon4" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="tue4" valign="top" style="background-color: lightgrey;"><div style="line-height:16px;"><span style="font-size:12px;">软件工程(主)<br>上课信息：1-16周 每周 二教406  教师：孙艳春 <br>考试信息：20251230 星期二 上午 </span></div></td>
											<td class="td-compact" id="wed4" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="thu4" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="fri4" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="sat4" valign="top" style="background-color: lightslategray;"><div style="line-height:16px;"><span style="font-size:12px;">投资学(辅双)<br>上课信息：1-16周 每周 二教203  教师：徐建国 <br>考试信息：20260103 星期六 上午 </span></div></td>
											<td class="td-compact" id="sun4" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
										</tr>
										<tr>
											<td style="background-color:#f0f0f0;" align="center">5</td>	
											<td class="td-compact" id="mon5" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="tue5" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="wed5" valign="top" style="background-color: lightgreen;"><div style="line-height:16px;"><span style="font-size:12px;">游泳(主)<br>上课信息：1-16周 每周   教师：张展嘉 备注：男生班   邱德拔B2游泳馆<br>考试信息： </span></div></td>
											<td class="td-compact" id="thu5" valign="top" style="background-color: lightgrey;"><div style="line-height:16px;"><span style="font-size:12px;">软件工程(主)<br>上课信息：1-16周 每周 二教406  教师：孙艳春 <br>考试信息：20251230 星期二 上午 </span></div></td>
											<td class="td-compact" id="fri5" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="sat5" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="sun5" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
										</tr>
										<tr>
											<td style="background-color:#f0f0f0;" align="center">6</td>	
											<td class="td-compact" id="mon6" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="tue6" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="wed6" valign="top" style="background-color: lightgreen;"><div style="line-height:16px;"><span style="font-size:12px;">游泳(主)<br>上课信息：1-16周 每周   教师：张展嘉 备注：男生班   邱德拔B2游泳馆<br>考试信息： </span></div></td>
											<td class="td-compact" id="thu6" valign="top" style="background-color: lightgrey;"><div style="line-height:16px;"><span style="font-size:12px;">软件工程(主)<br>上课信息：1-16周 每周 二教406  教师：孙艳春 <br>考试信息：20251230 星期二 上午 </span></div></td>
											<td class="td-compact" id="fri6" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="sat6" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="sun6" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
										</tr>
										<tr>
											<td style="background-color:#f0f0f0;" align="center">7</td>	
											<td class="td-compact" id="mon7" valign="top" style="background-color: lightblue;"><div style="line-height:16px;"><span style="font-size:12px;">计算几何(主)<br>上课信息：1-16周 每周 三教106  教师：刘剑飞 备注：强基工，工<br>考试信息： </span></div></td>
											<td class="td-compact" id="tue7" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="wed7" valign="top" style="background-color: aquamarine;"><div style="line-height:16px;"><span style="font-size:12px;">工学创新实践(主)<br>上课信息：1-16周 每周 理教315  教师：吕鹏宇 备注：限制30人。不定期在新奥工学大楼4072做实验<br>考试信息： </span></div></td>
											<td class="td-compact" id="thu7" valign="top" style="background-color: lightgoldenrodyellow;"><div style="line-height:16px;"><span style="font-size:12px;">英语非虚构作品中的近当代中国社会与文化(主)<br>上课信息：1-16周 每周 地学102  教师：陈冰 <br>考试信息： </span></div></td>
											<td class="td-compact" id="fri7" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="sat7" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="sun7" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
										</tr>
										<tr>
											<td style="background-color:#f0f0f0;" align="center">8</td>
											<td class="td-compact" id="mon8" valign="top" style="background-color: lightblue;"><div style="line-height:16px;"><span style="font-size:12px;">计算几何(主)<br>上课信息：1-16周 每周 三教106  教师：刘剑飞 备注：强基工，工<br>考试信息： </span></div></td>
											<td class="td-compact" id="tue8" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="wed8" valign="top" style="background-color: aquamarine;"><div style="line-height:16px;"><span style="font-size:12px;">工学创新实践(主)<br>上课信息：1-16周 每周 理教315  教师：吕鹏宇 备注：限制30人。不定期在新奥工学大楼4072做实验<br>考试信息： </span></div></td>
											<td class="td-compact" id="thu8" valign="top" style="background-color: lightgoldenrodyellow;"><div style="line-height:16px;"><span style="font-size:12px;">英语非虚构作品中的近当代中国社会与文化(主)<br>上课信息：1-16周 每周 地学102  教师：陈冰 <br>考试信息： </span></div></td>
											<td class="td-compact" id="fri8" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="sat8" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="sun8" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
										</tr>
										<tr>
											<td style="background-color:#f0f0f0;" align="center">9</td>
											<td class="td-compact" id="mon9" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="tue9" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="wed9" valign="top" style="background-color: aquamarine;"><div style="line-height:16px;"><span style="font-size:12px;">工学创新实践(主)<br>上课信息：1-16周 每周 理教315  教师：吕鹏宇 备注：限制30人。不定期在新奥工学大楼4072做实验<br>考试信息： </span></div></td>
											<td class="td-compact" id="thu9" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="fri9" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="sat9" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="sun9" valign="top" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
										</tr>
										<tr>
											<td style="background-color:#f0f0f0;" align="center">10</td>
											<td class="td-compact" id="mon10" style="background-color: lightsteelblue;"><div style="line-height:16px;"><span style="font-size:12px;">中国宏观经济(辅双)<br>上课信息：1-16周 每周 理教302  教师：徐高 <br>考试信息：20260105 星期一 晚上 </span></div></td>
											<td class="td-compact" id="tue10" style="background-color: lightcoral;"><div style="line-height:16px;"><span style="font-size:12px;">中国传统官僚政治制度(主)<br>上课信息：1-16周 每周 一教201  教师：阎步克,叶炜 <br>考试信息： </span></div></td>
											<td class="td-compact" id="wed10" style="background-color: lightsalmon;"><div style="line-height:16px;"><span style="font-size:12px;">财务报表分析(辅双)<br>上课信息：1-16周 单周 二教207  教师：张昕 <br>考试信息：20260107 星期三 晚上 </span></div></td>
											<td class="td-compact" id="thu10" style="background-color: lightcyan;"><div style="line-height:16px;"><span style="font-size:12px;">高频数据与高频交易(主)<br>上课信息：1-16周 每周   教师：黎新平,李少然 备注：三教503 本研合上<br>考试信息： </span></div></td>
											<td class="td-compact" id="fri10" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="sat10" style="background-color: lightsalmon;"><div style="line-height:16px;"><span style="font-size:12px;">财务报表分析(辅双)<br>上课信息：1-16周 双周 二教207  教师：张昕 <br>考试信息：20260107 星期三 晚上 </span></div></td>
											<td class="td-compact" id="sun10" style="background-color: lightsalmon;"><div style="line-height:16px;"><span style="font-size:12px;">财务报表分析(辅双)<br>上课信息：7-7周 每周 二教207  教师：张昕 <br>考试信息：20260107 星期三 晚上 </span></div></td>
										</tr>
										<tr>
											<td style="background-color:#f0f0f0;" align="center">11</td>
											<td class="td-compact" id="mon11" style="background-color: lightsteelblue;"><div style="line-height:16px;"><span style="font-size:12px;">中国宏观经济(辅双)<br>上课信息：1-16周 每周 理教302  教师：徐高 <br>考试信息：20260105 星期一 晚上 </span></div></td>
											<td class="td-compact" id="tue11" style="background-color: lightcoral;"><div style="line-height:16px;"><span style="font-size:12px;">中国传统官僚政治制度(主)<br>上课信息：1-16周 每周 一教201  教师：阎步克,叶炜 <br>考试信息： </span></div></td>
											<td class="td-compact" id="wed11" style="background-color: lightsalmon;"><div style="line-height:16px;"><span style="font-size:12px;">财务报表分析(辅双)<br>上课信息：1-16周 单周 二教207  教师：张昕 <br>考试信息：20260107 星期三 晚上 </span></div></td>
											<td class="td-compact" id="thu11" style="background-color: lightcyan;"><div style="line-height:16px;"><span style="font-size:12px;">高频数据与高频交易(主)<br>上课信息：1-16周 每周   教师：黎新平,李少然 备注：三教503 本研合上<br>考试信息： </span></div></td>
											<td class="td-compact" id="fri11" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="sat11" style="background-color: lightsalmon;"><div style="line-height:16px;"><span style="font-size:12px;">财务报表分析(辅双)<br>上课信息：1-16周 双周 二教207  教师：张昕 <br>考试信息：20260107 星期三 晚上 </span></div></td>
											<td class="td-compact" id="sun11" style="background-color: lightsalmon;"><div style="line-height:16px;"><span style="font-size:12px;">财务报表分析(辅双)<br>上课信息：7-7周 每周 二教207  教师：张昕 <br>考试信息：20260107 星期三 晚上 </span></div></td>
										</tr>
										<tr>
											<td style="background-color:#f0f0f0;" align="center">12</td>
											<td class="td-compact" id="mon12" style="background-color: lightsteelblue;"><div style="line-height:16px;"><span style="font-size:12px;">中国宏观经济(辅双)<br>上课信息：1-16周 每周 理教302  教师：徐高 <br>考试信息：20260105 星期一 晚上 </span></div></td>
											<td class="td-compact" id="tue12" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="wed12" style="background-color: lightsalmon;"><div style="line-height:16px;"><span style="font-size:12px;">财务报表分析(辅双)<br>上课信息：1-16周 单周 二教207  教师：张昕 <br>考试信息：20260107 星期三 晚上 </span></div></td>
											<td class="td-compact" id="thu12" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="fri12" style=""><div style="line-height:16px;"><span style="font-size:12px;"></span></div></td>
											<td class="td-compact" id="sat12" style="background-color: lightsalmon;"><div style="line-height:16px;"><span style="font-size:12px;">财务报表分析(辅双)<br>上课信息：1-16周 双周 二教207  教师：张昕 <br>考试信息：20260107 星期三 晚上 </span></div></td>
											<td class="td-compact" id="sun12" style="background-color: lightsalmon;"><div style="line-height:16px;"><span style="font-size:12px;">财务报表分析(辅双)<br>上课信息：7-7周 每周 二教207  教师：张昕 <br>考试信息：20260107 星期三 晚上 </span></div></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
</div></div>
	<div id="gotoTop" style="display: none;" ng-init="gotoTop()" gototoptpl="">
	<i class="fa fa-angle-up fa-2x"></i>
</div>
	<footer ng-show="accessFromApp!=='是'" class="footer" footertpl="">
	<section class="fot_bot">
		<span class="copyright">版权所有©北京大学</span>
		<span class="addr">地址：北京市海淀区颐和园路5号</span>
		<span class="postcode">邮编：100871</span>
		<span class="email">邮箱：its@pku.edu.cn</span>
		<span class="telephone">电话：010-62751023</span>
		<span class="tech-sup">支持：<a href="http://cc.pku.edu.cn">北京大学计算中心</a></span>
	</section>
</footer>


</body></html>